<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <script>{% include "problems_display.js" %}</script>
    <script>{% include "checker.js" %}</script>
    <script>{% include "matrices_data.js" %}</script>
    <script>{% include "config.js" %}</script>
    <script>{% include "rcm.js" %}</script>
</head>

<body onload="main()">
    <div id="problems"></div>
    <p id="value"></p>
    <div id="sliders"></div>
    <div>
        <span>
            <svg id="rcm"></svg>
        </span>
        <span id="legend_container">
            <svg id="legend"></svg>
        </span>
    </div>
</body>

</html>